@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");

:root {
  --bolder-antique: rgb(255, 152, 17);
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  /* overflow-x: hidden; */
}

header {
  background-color: antiquewhite;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.topbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1.5rem;
  width: 100%;
}

.topbar nav {
  display: none;
  z-index: 99999999;
}

.topbar nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.topbar nav ul li a {
  text-decoration: none;
  color: #373737;
  position: relative;
}

.topbar nav ul li a::after {
  content: "";
  height: 5px;
  width: 0%;
  position: absolute;
  bottom: -25%;
  left: 0px;
  border-radius: 20px 20px 20px 20px;
  background: rgb(0, 0, 0);
  transition: width 0.3s ease-out;
}

.topbar nav ul li:hover a::after {
  width: 80%;
}

.topbar #mobile-menu-button {
  background-color: transparent;
  border: none;
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.topbar h1 {
  font-size: 1.2rem;
  font-weight: 500;
}

#hero {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#hero * {
  width: 100%;
}

.circular-container-absolute {
  position: absolute;
}

.circular-container-absolute.top-right {
  top: 0%;
  right: 0%;
}

.circular-container-absolute.bottom-left {
  bottom: 0%;
  left: 0%;
}

.circular-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle-1,
.circle-2,
.circle-3,
.circle-4 {
  aspect-ratio: 1/1;
  background: #8d8d8d;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-duration: 1s;
}

.circle-1 {
  --circle-size: 6rem;
  animation: expand-circle 2s ease-out calc(100ms * 1) 1 forwards,
    throbbing-circle 5s ease-in 2.3s infinite;
  opacity: 0.2;
}

.circle-2 {
  --circle-size: 12rem;
  animation: expand-circle 2s ease-out calc(100ms * 2) 1 forwards,
    throbbing-circle 5s ease-in 2.5s infinite;
  opacity: 0.15;
}

.circle-3 {
  --circle-size: 18rem;
  animation: expand-circle 2s ease-out calc(100ms * 3) 1 forwards,
    throbbing-circle 5s ease-in 2.7s infinite;
  opacity: 0.1;
}

.circle-4 {
  --circle-size: 24rem;
  animation: expand-circle 2s ease-out calc(100ms * 4) 1 forwards,
    throbbing-circle 5s ease-in 2.8s infinite;
  opacity: 0.05;
}

#mouse-down-icon {
  position: absolute;
  width: 70px;
  bottom: 2%;
  right: 5%;
  opacity: 0.5;
  animation: mouse-up-down 1000ms ease-in-out 0s infinite;
  transition-duration: 150ms;
}

@keyframes mouse-up-down {
  0%,
  100% {
    transform: translate(0%, 0%);
  }

  50% {
    transform: translate(0%, -10%);
  }
}

@keyframes expand-circle {
  0% {
    width: 0;
  }

  100% {
    width: calc(var(--circle-size) + 2 * 10px);
  }
}

@keyframes throbbing-circle {
  0%,
  100% {
    width: calc(var(--circle-size) + 2 * 10px);
  }

  50% {
    width: calc(var(--circle-size) - 10px);
  }
}

.skip-content {
  left: 0%;
  position: absolute;
  transform: translateY(-100%);
  padding: 15px;
  z-index: 9999;
  background: #000;
  color: wheat;
  border: 2px black solid;
  transition-duration: 100ms;
}

.skip-content:focus {
  transform: translateY(0%);
}

#hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

#hero h2 {
  font-size: 4rem;
  margin: 0;
  color: #373737;
}

#hero p {
  margin: 0;
  color: #505050;
}

#hero p span {
  color: rgb(255, 145, 0);
}

#hero a {
  background-color: transparent;
  padding: 10px 50px;
  transition: all 300ms;
  color: black;
  text-decoration: none;
  border: 2px #878787 solid;
  border-radius: 15px;
}

#hero a:hover,
#hero a:active,
#hero a:focus {
  background-color: var(--bolder-antique);
  color: white;
  border: 2px antiquewhite solid;
}

main {
  position: relative;
  overflow: hidden;
  padding: 1rem;
}

main form {
  width: 100%;
  padding: 1rem;
}

.form-group{
  margin-bottom: 10px;
}

main form input, main form textarea {
  display: block;
  width: 100%;
  margin: 0px auto;
  border: 1px rgb(169, 169, 169) solid;
  padding: 1.2rem;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  background-color: rgba(250, 235, 215, 0.2);
}

main form button{
  background-color: antiquewhite;
  border : none;
  width: 100%;
  cursor: pointer;
  border-radius: 20px;
  padding: 1rem 2rem;
  font-weight: bold;
  transition: all 150ms ease-in-out;
  margin-bottom: 2rem;
}

main form button:hover{
  background-color: var(--bolder-antique);
  color: white;
}


main #restaurant-list {
  overflow: hidden;
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

main #restaurant-list section {
  width: 100%;
  border: 1px rgb(169, 169, 169) solid;
  border-radius: 20px;
  overflow: hidden;
  backdrop-filter: blur(10px);
  background-color: rgba(250, 235, 215, 0.2);
}

.card-image {
  width: 100%;
  aspect-ratio: 16/9;
  position: relative;
  overflow: hidden;
  transform: scale(1.01);
  border-radius: 0;
  margin-bottom: 10px;
}

.card-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.card-image .low-brightess-layer {
  position: absolute;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 212, 255, 0) 100%
  );
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.card-image h3 a {
  font-weight: bold;
  font-size: 1.6rem;
  position: absolute;
  bottom: 8%;
  text-decoration: none;
  left: 6%;
  width: 80%;
  line-clamp: 1;
  color: antiquewhite;
}

.card-image h3 a::after {
  content: "";
  height: 5px;
  width: 0%;
  position: absolute;
  bottom: -10%;
  left: 2px;
  border-radius: 0px 20px 20px 0px;
  background: antiquewhite;
  transition: width 0.3s ease-out;
}

.card-image h3 a:hover::after,
.card-image h3 a:focus::after {
  width: 20%;
}

.card-body {
  padding: 10px 20px;
}

.card-body p {
  margin: 0 0 10px 0;
  display: flex;
  gap: 0.5rem;
  justify-items: center;
}

.card-body p span {
  margin: auto 0px;
}

.card-body p span:first-of-type {
  margin: 0;
  color: white;
  background: var(--bolder-antique);
  padding: 3px 20px;
  border-radius: 10px;
  display: flex;
  gap: 4px;
  justify-content: center;
  justify-items: center;
}

.card-body p span:first-of-type * {
  margin: auto 0;
}

.card-body p span:last-of-type {
  font-weight: 500;
}

.card-body .description {
  font-size: small;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

footer {
  background-color: #191d21;
}

#footer-top {
  padding: 20px 30px;
  border-bottom: 1px #494949 solid;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2rem;
}

#footer-top h4 {
  color: white;
  margin-bottom: 0px;
}

#footer-top p {
  color: rgb(165, 165, 165);
  font-size: small;
}

#footer-top #contact ul {
  color: rgb(165, 165, 165);
  font-size: small;
  padding-left: 20px;
}

#footer-top #social-link ul {
  color: rgb(165, 165, 165);
  list-style-type: none;
  padding: 0;
}

#footer-top #social-link ul li a {
  color: rgb(165, 165, 165);
  text-decoration: none;
  justify-items: center;
  display: flex;
  gap: 1rem;
  padding: 0.2rem 0;
  transition: all 150ms ease-in-out;
}

#footer-top #social-link ul li a:hover {
  color: white;
}

#footer-top #social-link ul li a i {
  margin: auto 0;
}

#footer-bottom {
  padding: 0.5rem 1rem;
  color: white;
  font-size: small;
  text-align: center;
}

#drawer-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 0 100px;
  background-color: #fff;
  display: hidden;
  justify-content: center;
  border-radius: 0px 15px 15px 0px;
  transform: translateX(-100%);
  transition: all 300ms ease-in-out;
  z-index: 999999999;
}

.list-container {
  display: relative;
}

#drawer-nav .list-container ul {
  margin: 30% 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#drawer-nav .list-container ul li a {
  text-decoration: none;
  color: #525252;
  font-size: 2rem;
  font-weight: bold;
  transition: all 0.3s ease-out;
  position: relative;
}

#drawer-nav .list-container ul li a::after {
  content: "";
  height: 5px;
  width: 0%;
  position: absolute;
  bottom: -25%;
  left: 0px;
  border-radius: 20px 20px 20px 20px;
  background: #888888;
  transition: all 0.3s ease-out;
}

#drawer-nav .list-container ul li:hover a::after {
  background: black;
  width: 50%;
}

#drawer-nav .list-container ul li:hover a {
  color: black;
  width: 50%;
}

#close-drawer {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #494949;
  font-size: xx-large;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#restaurant-detail {
  padding: 0;
}

#restaurant-image img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

#restaurant-name {
  padding: 0 10px;
  font-size: 1.5rem;
}

#restaurant-name h3 {
  margin: 0px;
  padding: 0px;
}

#restaurant-rating-city {
  padding: 0 10px;
  margin-bottom: 1rem;
  color: #373737;
}

#restaurant-description {
  padding: 0 10px;
  margin-bottom: 4rem;
}

#restaurant-menu {
  padding: 0 10px;
}

#restaurant-menu h4 {
  text-align: center;
  font-size: larger;
  width: 100%;
  padding: 1rem;
  border-bottom: 1px #191d21 solid;
}

#restaurant-menu h5 {
  color: #494949;
  font-size: medium;
}

#restaurant-menu .menu-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

#restaurant-menu .menu-container ul {
  list-style-type: circle;
}

#restaurant-review h4 {
  text-align: center;
  font-size: larger;
  width: 100%;
  padding: 1rem;
  border-bottom: 1px #191d21 solid;
}

#restaurant-review ul {
  display: grid;
  list-style-type: none;
  padding: 0 10px;
  margin: 0;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
}

#restaurant-review ul li {
  border : 1px #c4c4c4 solid;
  background-color: rgb(251, 248, 244);
  padding: 30px;
  border-radius: 15px;
}

#restaurant-review ul li .review-name{
  font-weight: 600;
}

#restaurant-review ul li .review-date{
  font-size: small;
  margin-bottom: 10px;
}

#restaurant-review ul li .review-comment{
  font-size: 0.9rem;
}

#like-container{
  position: fixed;
  bottom: 4%;
  right: 1%;
}

#like-container button{
  padding: 20px;
  background-color: var(--bolder-antique);
  border: none;
  aspect-ratio: 1/1;
  overflow: hidden;
  cursor: pointer;
  border-radius: 9999px;
  transition: all 150ms ease-in-out;
}

#like-container button:hover{
  box-shadow: 1px 1px 35px #c9c9c9;
  transform: translateY(-10px);
}

#like-container button i{
  font-size: xx-large;
}

@media (min-width: 768px) {
  main #restaurant-list {
    position: relative;
    overflow: hidden;
    padding: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .circle-1 {
    --circle-size: 9rem;
    animation: expand-circle 2s ease-out calc(100ms * 1) 1 forwards,
      throbbing-circle 5s ease-in 2.3s infinite;
    opacity: 0.2;
  }

  .circle-2 {
    --circle-size: 18rem;
    animation: expand-circle 2s ease-out calc(100ms * 2) 1 forwards,
      throbbing-circle 5s ease-in 2.5s infinite;
    opacity: 0.15;
  }

  .circle-3 {
    --circle-size: 27rem;
    animation: expand-circle 2s ease-out calc(100ms * 3) 1 forwards,
      throbbing-circle 5s ease-in 2.7s infinite;
    opacity: 0.1;
  }

  .circle-4 {
    --circle-size: 36rem;
    animation: expand-circle 2s ease-out calc(100ms * 4) 1 forwards,
      throbbing-circle 5s ease-in 2.8s infinite;
    opacity: 0.05;
  }

  #hero a {
    width: 50%;
  }

  .topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1.5rem;
    width: 100%;
  }

  .topbar nav {
    display: block;
  }

  .topbar #mobile-menu-button {
    display: none;
  }

  main form {
    margin : 0px auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 50%;
    padding: 1rem;
    justify-content: end;
  }


  #restaurant-detail {
    padding: 0 4rem;
  }

  #restaurant-review ul li {
    width: 50%;
    margin : 0px auto;
  }
  

  #footer-top {
    background-color: #191d21;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1200px) {
  main #restaurant-list {
    position: relative;
    overflow: hidden;
    padding: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .circle-1 {
    --circle-size: 11rem;
    animation: expand-circle 2s ease-out calc(100ms * 1) 1 forwards,
      throbbing-circle 5s ease-in 2.3s infinite;
    opacity: 0.2;
  }

  .circle-2 {
    --circle-size: 22rem;
    animation: expand-circle 2s ease-out calc(100ms * 2) 1 forwards,
      throbbing-circle 5s ease-in 2.5s infinite;
    opacity: 0.15;
  }

  .circle-3 {
    --circle-size: 33rem;
    animation: expand-circle 2s ease-out calc(100ms * 3) 1 forwards,
      throbbing-circle 5s ease-in 2.7s infinite;
    opacity: 0.1;
  }

  .circle-4 {
    --circle-size: 44rem;
    animation: expand-circle 2s ease-out calc(100ms * 4) 1 forwards,
      throbbing-circle 5s ease-in 2.8s infinite;
    opacity: 0.05;
  }
}
